<h3>Pengaturan</h3>
<hr>
<form action="/admin/pengaturan" method="post">
    <input type="hidden" name="id" value="{{ sekolah.id }}">
    <div class="form-group">
        <label for="inputNama">Nama Sekolah</label>
        <input type="text" name="nama" placeholder="Masukkan Nama Sekolah" value="{{ sekolah.nama }}" id="inputNama"
            class="form-control col-4">
    </div>
    <div class="form-group">
        <label for="inputAlamat">Alamat Sekolah</label>
        <textarea type="text" name="alamat" placeholder="Masukkan Alamat Sekolah" id="inputAlamat"
            class="form-control col-4">{{ sekolah.alamat }}</textarea>
    </div>
    <div class="form-group">
        <label for="inputKepala">Kepala Sekolah</label>
        <input type="text" name="kepala" value="{{ sekolah.kepala }}" placeholder="Masukkan Nama Kepala Sekolah" id="inputKepala" class="form-control col-4">
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>